html {
  scroll-behavior: smooth;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 10%;
  background: linear-gradient(135deg, #321580, #1a0a3d);
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home_left {
  max-width: 50%;
}

.home_left h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.home_left h1 span {
  color: #ffcc00; 
}

.home_left h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.home_left p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.btn {
  background: #ffcc00;
  color: #000;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #e6b800;
}


.home_right img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffcc00;
  box-shadow: 0 0 20px rgba(157, 78, 221, 0.6);
}
.cp-main{
  margin: 40px 0 0 40px;
}
.cp-main h2{
  font-size: 30px;
}
.cp{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  font-size: 20px;
  color: #ffb347;
}
.cp a:hover {
  font-size: 25px; 
  transform: scale(1.2); 
  transition: all 0.3s ease; 
}


@media (max-width: 768px) {
  .home {
    padding-top: 60px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .home_left {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .home_right img {
    width: 200px;
    height: 200px;
  }
  .home_right{
    align-items: center;
    padding-right: 20px;
  }
  .cp-main{
    margin-right: 20px;
  }
  .cp-main h2{
    margin-right: 40px;
  }
  .socials{
    margin-left: 60px;
  }
}


.socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 20px;
}

.socials a {
  font-size: 1.8rem;
  color: white;
  transition: color 0.3s, transform 0.3s;
}

.socials a:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
