
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: #190b3f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.navbar-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* for mob */
.menu {
  display: none;
}

.menu {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Sidebar (hidden by default) */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* hidden outside */
  width: 300px;
  height: 800px;
  background: #190b3f;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 20px;
  transition: right 0.3s ease;
  z-index: 999;
}
.closebtn {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.closebtn:hover {
  transform: rotate(90deg);
  color: #ffcc00;
}
.sidebar a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #ffcc00;
}

.sidebar.open {
  right: 0;
}

/* Responsive */
@media (max-width: 750px) {
  .nav-links {
    display: none; /* hide normal nav links */
  }
  .logo {
    display: none;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 10px 10px 10px;
  }
  .logo-mob {
    font-weight: bold;
  }
}
