.about {
  padding: 5rem 2rem;
  background: linear-gradient(135deg, #321580, #1a0a3d);
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.about-container {
  max-width: 1200px;
  margin: auto;
}

.about h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  color: #aaa;
  margin-bottom: 3rem;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.intro {
  padding: 3px;
}

.about-text {
  flex: 1;
  line-height: 1.8;
}
.aboutmy{
  border-radius:  20px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  text-align: center;
}


.about-text .highlight {
  color: #ffb347;
  font-weight: 600;
}

.experience h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  background: linear-gradient(90deg, #9d4edd, #00bbf9);
  width: 250px;
  text-align: center;
  border-radius: 20px;
}

.experience ul {
  list-style: none;
  padding: 0;
}

.experience li {
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.experience li:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.1);
}

.about-image img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(157, 78, 221, 0.6);
}
