@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #200e51;
  /* font-family: "Zain", sans-serif; */
  /* font-weight: 200;
  font-style: normal; */
 
  overflow-x: hidden; /* disables horizontal scroll */
}
/* html {
  scroll-behavior: smooth;
} */
